mixin feel-the-art()
  section.art(
    data-header-theme-class="gainsboro",
    data-section-animation,
    data-start="top bottom",
    data-end="center center",
    data-toggle-color-class="is-black"
  )
    .container(
      data-animation="opacity: 0, y: 15vh",
      data-animation-direction="from",
      data-position="0"
    )
      h2.art__title.title Feel the art
      .art__lamp-installation-wrapper
        +picture("content", "lamp-installation", "jpg", 1312, 824, "")
        <svg width="1246" height="792" viewBox="0 0 1246 792" fill="none" xmlns="http://www.w3.org/2000/svg" data-movement='7.5' data-duration='1'>
        <g filter="url(#filter0_d_703_2)">
        <circle cx="97" cy="34" r="29" fill="url(#paint0_linear_703_2)"/>
        <circle cx="258" cy="55" r="16" fill="url(#paint1_linear_703_2)"/>
        <circle cx="258" cy="226" r="16" fill="url(#paint2_linear_703_2)"/>
        <circle cx="266" cy="397" r="16" fill="url(#paint3_linear_703_2)"/>
        <circle cx="266" cy="568" r="16" fill="url(#paint4_linear_703_2)"/>
        <circle cx="274" cy="742" r="16" fill="url(#paint5_linear_703_2)"/>
        <circle cx="710" cy="71" r="16" fill="url(#paint6_linear_703_2)"/>
        <circle cx="710" cy="242" r="16" fill="url(#paint7_linear_703_2)"/>
        <circle cx="710" cy="405" r="16" fill="url(#paint8_linear_703_2)"/>
        <circle cx="713" cy="569" r="16" fill="url(#paint9_linear_703_2)"/>
        <circle cx="722" cy="739" r="16" fill="url(#paint10_linear_703_2)"/>
        <circle cx="1116" cy="411" r="16" fill="url(#paint11_linear_703_2)"/>
        <circle cx="1123" cy="718" r="16" fill="url(#paint12_linear_703_2)"/>
        <circle cx="1116" cy="103" r="16" fill="url(#paint13_linear_703_2)"/>
        <circle cx="1116" cy="257" r="16" fill="url(#paint14_linear_703_2)"/>
        <circle cx="1123" cy="568" r="16" fill="url(#paint15_linear_703_2)"/>
        <circle cx="845" cy="347" r="16" fill="url(#paint16_linear_703_2)"/>
        <circle cx="845" cy="511" r="16" fill="url(#paint17_linear_703_2)"/>
        <circle cx="845" cy="183" r="16" fill="url(#paint18_linear_703_2)"/>
        <circle cx="1067" cy="504" r="16" fill="url(#paint19_linear_703_2)"/>
        <circle cx="1051" cy="258" r="16" fill="url(#paint20_linear_703_2)"/>
        <circle cx="591" cy="151" r="16" fill="url(#paint21_linear_703_2)"/>
        <circle cx="601" cy="356" r="16" fill="url(#paint22_linear_703_2)"/>
        <circle cx="154" cy="331" r="16" fill="url(#paint23_linear_703_2)"/>
        <circle cx="154" cy="160" r="16" fill="url(#paint24_linear_703_2)"/>
        <circle cx="349" cy="299" r="16" fill="url(#paint25_linear_703_2)"/>
        <circle cx="389" cy="429" r="16" fill="url(#paint26_linear_703_2)"/>
        <circle cx="357" cy="644" r="16" fill="url(#paint27_linear_703_2)"/>
        <circle cx="421" cy="176" r="16" fill="url(#paint28_linear_703_2)"/>
        <circle cx="349" cy="112" r="16" fill="url(#paint29_linear_703_2)"/>
        <circle cx="154" cy="601" r="16" fill="url(#paint30_linear_703_2)"/>
        <circle cx="24" cy="274" r="16" fill="url(#paint31_linear_703_2)"/>
        <circle cx="24" cy="527" r="16" fill="url(#paint32_linear_703_2)"/>
        <circle cx="1213" cy="429" r="16" fill="url(#paint33_linear_703_2)"/>
        <circle cx="1213" cy="210" r="16" fill="url(#paint34_linear_703_2)"/>
        <circle cx="1222" cy="637" r="16" fill="url(#paint35_linear_703_2)"/>
        <circle cx="90" cy="752" r="29" fill="url(#paint36_linear_703_2)"/>
        <circle cx="989.5" cy="79.5" r="24.5" fill="url(#paint37_linear_703_2)"/>
        <circle cx="997.5" cy="717.5" r="24.5" fill="url(#paint38_linear_703_2)"/>
        <circle cx="989.5" cy="79.5" r="24.5" fill="url(#paint39_linear_703_2)"/>
        <circle cx="997.5" cy="398.5" r="24.5" fill="url(#paint40_linear_703_2)"/>
        <circle cx="96" cy="392" r="29" fill="url(#paint41_linear_703_2)"/>
        </g>
        <defs>
        <filter id="filter0_d_703_2" x="0" y="0" width="1246" height="792" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dy="3"/>
        <feGaussianBlur stdDeviation="4"/>
        <feComposite in2="hardAlpha" operator="out"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0.829861 0 0 0 0 0.912847 0 0 0 0 0.995833 0 0 0 1 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_703_2"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_703_2" result="shape"/>
        </filter>
        <linearGradient id="paint0_linear_703_2" x1="97" y1="5" x2="97" y2="63" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="#FFFFF2"/>
        </linearGradient>
        <linearGradient id="paint1_linear_703_2" x1="258" y1="39" x2="258" y2="71" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="#FFFFF2"/>
        </linearGradient>
        <linearGradient id="paint2_linear_703_2" x1="258" y1="210" x2="258" y2="242" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="#FFFFF2"/>
        </linearGradient>
        <linearGradient id="paint3_linear_703_2" x1="266" y1="381" x2="266" y2="413" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="#FFFFF2"/>
        </linearGradient>
        <linearGradient id="paint4_linear_703_2" x1="266" y1="552" x2="266" y2="584" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="#FFFFF2"/>
        </linearGradient>
        <linearGradient id="paint5_linear_703_2" x1="274" y1="726" x2="274" y2="758" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="#FFFFF2"/>
        </linearGradient>
        <linearGradient id="paint6_linear_703_2" x1="710" y1="55" x2="710" y2="87" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="#FFFFF2"/>
        </linearGradient>
        <linearGradient id="paint7_linear_703_2" x1="710" y1="226" x2="710" y2="258" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="#FFFFF2"/>
        </linearGradient>
        <linearGradient id="paint8_linear_703_2" x1="710" y1="389" x2="710" y2="421" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="#FFFFF2"/>
        </linearGradient>
        <linearGradient id="paint9_linear_703_2" x1="713" y1="553" x2="713" y2="585" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="#FFFFF2"/>
        </linearGradient>
        <linearGradient id="paint10_linear_703_2" x1="722" y1="723" x2="722" y2="755" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="#FFFFF2"/>
        </linearGradient>
        <linearGradient id="paint11_linear_703_2" x1="1116" y1="395" x2="1116" y2="427" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="#FFFFF2"/>
        </linearGradient>
        <linearGradient id="paint12_linear_703_2" x1="1123" y1="702" x2="1123" y2="734" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="#FFFFF2"/>
        </linearGradient>
        <linearGradient id="paint13_linear_703_2" x1="1116" y1="87" x2="1116" y2="119" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="#FFFFF2"/>
        </linearGradient>
        <linearGradient id="paint14_linear_703_2" x1="1116" y1="241" x2="1116" y2="273" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="#FFFFF2"/>
        </linearGradient>
        <linearGradient id="paint15_linear_703_2" x1="1123" y1="552" x2="1123" y2="584" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="#FFFFF2"/>
        </linearGradient>
        <linearGradient id="paint16_linear_703_2" x1="845" y1="331" x2="845" y2="363" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="#FFFFF2"/>
        </linearGradient>
        <linearGradient id="paint17_linear_703_2" x1="845" y1="495" x2="845" y2="527" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="#FFFFF2"/>
        </linearGradient>
        <linearGradient id="paint18_linear_703_2" x1="845" y1="167" x2="845" y2="199" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="#FFFFF2"/>
        </linearGradient>
        <linearGradient id="paint19_linear_703_2" x1="1067" y1="488" x2="1067" y2="520" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="#FFFFF2"/>
        </linearGradient>
        <linearGradient id="paint20_linear_703_2" x1="1051" y1="242" x2="1051" y2="274" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="#FFFFF2"/>
        </linearGradient>
        <linearGradient id="paint21_linear_703_2" x1="591" y1="135" x2="591" y2="167" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="#FFFFF2"/>
        </linearGradient>
        <linearGradient id="paint22_linear_703_2" x1="601" y1="340" x2="601" y2="372" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="#FFFFF2"/>
        </linearGradient>
        <linearGradient id="paint23_linear_703_2" x1="154" y1="315" x2="154" y2="347" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="#FFFFF2"/>
        </linearGradient>
        <linearGradient id="paint24_linear_703_2" x1="154" y1="144" x2="154" y2="176" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="#FFFFF2"/>
        </linearGradient>
        <linearGradient id="paint25_linear_703_2" x1="349" y1="283" x2="349" y2="315" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="#FFFFF2"/>
        </linearGradient>
        <linearGradient id="paint26_linear_703_2" x1="389" y1="413" x2="389" y2="445" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="#FFFFF2"/>
        </linearGradient>
        <linearGradient id="paint27_linear_703_2" x1="357" y1="628" x2="357" y2="660" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="#FFFFF2"/>
        </linearGradient>
        <linearGradient id="paint28_linear_703_2" x1="421" y1="160" x2="421" y2="192" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="#FFFFF2"/>
        </linearGradient>
        <linearGradient id="paint29_linear_703_2" x1="349" y1="96" x2="349" y2="128" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="#FFFFF2"/>
        </linearGradient>
        <linearGradient id="paint30_linear_703_2" x1="154" y1="585" x2="154" y2="617" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="#FFFFF2"/>
        </linearGradient>
        <linearGradient id="paint31_linear_703_2" x1="24" y1="258" x2="24" y2="290" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="#FFFFF2"/>
        </linearGradient>
        <linearGradient id="paint32_linear_703_2" x1="24" y1="511" x2="24" y2="543" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="#FFFFF2"/>
        </linearGradient>
        <linearGradient id="paint33_linear_703_2" x1="1213" y1="413" x2="1213" y2="445" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="#FFFFF2"/>
        </linearGradient>
        <linearGradient id="paint34_linear_703_2" x1="1213" y1="194" x2="1213" y2="226" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="#FFFFF2"/>
        </linearGradient>
        <linearGradient id="paint35_linear_703_2" x1="1222" y1="621" x2="1222" y2="653" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="#FFFFF2"/>
        </linearGradient>
        <linearGradient id="paint36_linear_703_2" x1="90" y1="723" x2="90" y2="781" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="#FFFFF2"/>
        </linearGradient>
        <linearGradient id="paint37_linear_703_2" x1="989.5" y1="55" x2="989.5" y2="104" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="#FFFFF2"/>
        </linearGradient>
        <linearGradient id="paint38_linear_703_2" x1="997.5" y1="693" x2="997.5" y2="742" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="#FFFFF2"/>
        </linearGradient>
        <linearGradient id="paint39_linear_703_2" x1="989.5" y1="55" x2="989.5" y2="104" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="#FFFFF2"/>
        </linearGradient>
        <linearGradient id="paint40_linear_703_2" x1="997.5" y1="374" x2="997.5" y2="423" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="#FFFFF2"/>
        </linearGradient>
        <linearGradient id="paint41_linear_703_2" x1="96" y1="363" x2="96" y2="421" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="#FFFFF2"/>
        </linearGradient>
        </defs>
        </svg>
